<div class="gridPage">
  <div class="left">
    <app-top-block
      (onChange)="updateSearch($event)"
      link="/users"
    ></app-top-block>
    <div class="scroll">
      <div class="sub-scroll">
        <div
          *ngFor="let user of userService.users | filterUsers: searchName"
          class="line fio"
          [routerLink]="['/users', user._id]"
          routerLinkActive="active-line fio-active"
        >
          <p>{{ user.name }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <router-outlet></router-outlet>
  </div>
</div>
