<div class="user-add">
  <h1>Регистрация пользователя</h1>
  <form [formGroup]="form" (submit)="submit()">
    <label>Логин</label>
    <input formControlName="login" />
    <div
      *ngIf="form.get('login').invalid && form.get('login').touched"
      class="validation"
    >
      <small *ngIf="form.get('login').errors.required">
        Логин отсутсвует.
      </small>
      <small *ngIf="form.get('login').errors.NaN">
        Логин должен быть номером телефона.
      </small>
      <small
        *ngIf="
          form.get('login').errors.minlength && !form.get('login').errors.NaN
        "
      >
        Логин должен быть
        {{ form.get("login").errors.minlength["requiredLength"] }} символов.
      </small>
    </div>

    <label>ФИО</label>
    <input formControlName="name" />

    <label>Пароль</label>
    <input type="text" placeholder="Пароль" formControlName="password" />

    <div
      *ngIf="form.get('password').invalid && form.get('password').touched"
      class="validation"
    >
      <small *ngIf="form.get('password').errors.required">
        Пароль отсутсвует.
      </small>
      <small *ngIf="form.get('password').errors.minlength">
        Пароль должен быть не менее
        {{ form.get("password").errors.minlength["requiredLength"] }} символов.
      </small>
    </div>

    <button class="btn" [disabled]="form.invalid">
      <app-free-dots
        width="40px"
        height="10px"
        background="#333333"
        fill="#ffffff"
        *ngIf="userService.registering; else lable"
      ></app-free-dots>
      <ng-template #lable>Зарегистрировать</ng-template>
    </button>
  </form>
</div>
