<div class="gridPage">
  <div class="left">
    <h3 class="title">Чаты</h3>
    <div class="scroll">
      <div class="sub-scroll">
        <div
          *ngFor="let chat of botService.chats"
          class="chat"
          [class.active]="currentChat?.id === chat.id"
          (click)="changeCurrentChat(chat)"
        >
          <p>{{ chat.id }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="right__empty" *ngIf="!currentChat">
      <h1>Выберите чат</h1>
    </div>
    <div class="messages" *ngIf="currentChat">
      <div class="messages__tags" *ngIf="currentMessage">
        <div
          class="messages__tags__tag"
          *ngFor="let message of currentChat.messages; index as i"
          [class.active]="currentMessage?._id === message?._id"
          (click)="currentMessage = message"
        >
          {{ i + 1 }} Сообщение
        </div>
      </div>
      <div class="messages__message">
        <div class="messages__message__text">
          <p>{{ currentMessage.message }}</p>
        </div>
        <textarea
          class="messages__message__form"
          [(ngModel)]="send"
          placeholder="Введите ответ"
        >
        </textarea>
        <app-free-dots
          width="70px"
          height="25px"
          *ngIf="botService.loading"
        ></app-free-dots>
        <em class="messages__message__warning" *ngIf="warning"
          >Введите текст сообщения</em
        >
        <div class="messages__message__buttons" *ngIf="!botService.loading">
          <button class="save" (click)="sendMessage()">Отправить</button>
          <button class="delete" (click)="deleteMessage()">Удалить</button>
        </div>
      </div>
    </div>
  </div>
</div>
