.auth-block {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.form-auth {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

input {
  height: 30px;
  border: 1px solid #cccccc;
  border-radius: 2px;
  &.ng-invalid.ng-touched {
    border: 1px solid red;
  }
  &:focus {
    border: 1px solid cornflowerblue;
  }
}
