.cars {
  display: grid;
  grid-template-areas: 'b1 b2 b2 b2';
  grid-template-columns: repeat(4, 1fr);
  min-width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.left {
  grid-area: b1;
  display: flex;
  justify-content: center;
  border-right: 1px solid black ;
}

.right {
  grid-area: b2;
}
