<div class="gridPage">
  <div class="left">
    <app-top-block
      (onChange)="updateSearch($event)"
      link="/cars"
    ></app-top-block>
    <div class="scroll">
      <div class="sub-scroll">
        <div
          *ngFor="let car of carService.cars | filterCars: searchNumber"
          class="line"
          [routerLink]="['/cars', car.number]"
          routerLinkActive="active-line"
        >
          <img
            [src]="car.model | decodeLogo"
            [alt]="car.model"
            width="40px"
            height="40px"
          />
          <p>{{ car.number }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <router-outlet></router-outlet>
  </div>
</div>
