.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
  padding-right: 80px;
}

.user-name-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .user-delete {
    display: flex;
    align-items: center;
    padding: 5px 5px 5px 10px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    &:active {
      background-color: red;
      color: white;
    }
  }
  img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
  }
}

.line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  height: 35px;
  input {
  }
  img {
    margin-left: 15px;
    width: 25px;
    height: 25px;
  }
}

.password {
  display: flex;
  margin-bottom: 20px;
  height: 40px;
  align-items: center;
  border-radius: 10px;
  label {
    padding: 4px;
    border-radius: 10px;
    color: #000;
  }
  input {
    width: 200px;
    margin-right: 20px;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    &:focus {
      border: 1px solid cornflowerblue;
    }
  }
  img {
    margin-right: 15px;
    width: 25px;
    height: 25px;
  }
  .invalid {
    border-color: red;
    margin-right: 15px;
  }
}

table {
  border-collapse: collapse;
  border: 2px solid white;
}

tbody {
  tr:hover {
    background-color: lightyellow;
  }
  .checked-tr {
    background-color: lightyellow;
  }
}

td,
th {
  border: 1px solid black;
}

.table {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 52vh;
  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #ccc;
  }

  &::-webkit-scrollbar {
    width: 10px;
    background-color: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: coral;
    border-radius: 5px;
  }
}

.num {
  width: 25px;
}

td {
  text-align: center;
  vertical-align: center;
  width: 100px;
  height: 30px;
}

.itog {
  text-align: right;
  font-weight: bold;
  padding-right: 10px;
}
.cars-td {
  width: 170px;

}

.cars-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 10px;
  .img {
    display: flex;
    width: 20%;
  }
}
a {
  color: black;
}
a:hover {
  color: blue;
  text-decoration: underline;
}
.cars {
  display: flex;
  flex-direction: column;
}

.car{
  background-color: #7d4cdb;
  border-radius: 10px;
  margin-top: 5px;
  padding: 0 10px;
  color: white;
  outline: none;
  &:hover {
    label{
      text-decoration: underline;
    }
    .car-value {
      text-decoration: none;
    }
  }
  &:active{
    background-color: white;
    color: #000000;

  }
  &:first-child {
    margin-top: 0;
  }
}

.car-value{
  text-decoration: none;
  margin-left: 10px;
}

.delete{
  color: #ffffff;
  background-color: #ff0d0dc9;
  border: 0;
  border-radius: 10px;
  &:active {
    color: #000000;
  }
  &:disabled {
    background-color: #cccccc;
    color: black;
  }
}
